fastapi[standard] == 0.112.2  
python-dotenv == 0.21.0
langchain == 0.3.12
langchain-community == 0.3.12
langchain-core == 0.3.31
langchain-google-genai == 2.0.9
langchain-chroma 
pypdf == 4.2.0
chromadb== 0.5.23
streamlit == 1.41.1
